<div *ngIf="identity">

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2"></div>

			<div class="col-md-8">
				<div *ngIf="loading == 'show'" class="progress progress-striped active">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" ></div>
				</div>
			</div>	
		</div>
	</div>	

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div *ngIf="status == 'error'">
					<div class="note note-danger">
						<h3>{{status}} {{code}}</h3>
						<p>{{msg}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-dark">
							<i class="fa fa-user font-dark"></i>{{titulo}}
						</div>
						<div class="tools">
							<a *ngIf="searchString == null" [routerLink]="['/users', pageActual]" title="Go Back"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
							<a *ngIf="searchString != null" [routerLink]="['/users', pageActual, searchString]" title="Go Back"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
						</div>
					</div>

					<div class="portlet-body form">
						<form #registerForm1="ngForm" (ngSubmit)="onSubmit()">
							<div class="form-body">
								<div class="form-group has-success">
									<div class="form-group">
										
                                        

										
										

										<p>
											<img *ngIf="user.image!=null" id="imageUser" class="user-image-form img-rounded" src="{{url}}/{{user.image}}"/>
										</p>
										<p>
											<label class="control-label">NAME<span class="required" aria-required="true">*</span></label>
											<input 
											#name="ngForm" 
											ngControl="name" 
											type="text" 
											class="form-control input-sm" 
											readonly="readonly" 
											placeholder="User's name" 
											[(ngModel)]="user.name"
											>
											
										</p>
										<p>
											<label class="control-label">SURNAME<span class="required" aria-required="true">*</span></label>
											<input 
											#surname="ngForm" 
											ngControl="surname" 
											type="text" 
											class="form-control input-sm" 
											readonly="readonly" 
											placeholder="User's surname" 
											[(ngModel)]="user.surname"
											>
											
										</p>
										<p>
											<label class="control-label">EMAIL<span class="required" aria-required="true">*</span></label>
											<input 
											#email="ngForm" 
											ngControl="email" 
											type="email" 
											class="form-control input-sm" 
											readonly="readonly"
											placeholder="User's email" 
											[(ngModel)]="user.email"
											>
											
										</p>

										<p>
											<label class="control-label">ROLE<span class="required" aria-required="true">*</span></label>
											<input 
											#name="ngForm" 
											ngControl="role" 
											type="text" 
											class="form-control input-sm" 
											readonly="readonly" 
											placeholder="User's role" 
											[(ngModel)]="user.role"
											>
										</p>	

										<p>
											<label class="control-label">USER GROUP<span class="required" aria-required="true">*</span></label>
											<input 
											#name="ngForm" 
											ngControl="group" 
											type="text" 
											class="form-control input-sm" 
											readonly="readonly" 
											placeholder="User's group" 
											[(ngModel)]="groupUser"
											>
											
										</p>
										
									</div>
								</div>
							</div>

							<div class="clearfix"></div>

							<div class="form-actions">
								<a *ngIf="searchString == null" [routerLink]="['/users', pageActual]" title="Go Back" class="btn default">Go Back</a>
								<a *ngIf="searchString != null" [routerLink]="['/users', pageActual, searchString]" title="Go Back" class="btn default">Go Back</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
